

/* Custom style, mostly for the table */

tr:hover {filter: brightness(90%);}


th {
 background-color: #5e5eff;
 color: white;
}

tr {
  background-color: #e6e6ff;
  color: #31312e;
}
tr:nth-child(even) {background-color: #b3b3ff;}

td {
  padding-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


table.lunch_style{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: inherit;
}

table.lunch_style tr{
  background-color: bg-near-white ;
  table-layout: auto !important;  
  border-spacing:5px;

}

table.lunch_style td{
  border : 0px;
  background-color: #6c6ca0;
  color: white;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.pb7{
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.measure-wide{max-width:50em}
